.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Logo_slider.jpg) center;
    background-size: cover;
    color: white;
    padding: 80px 0;
    text-align: end;    
}

.team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #eee;
}

.card-body {
    min-height: 220px;

}

/* Media query para telas menores que 768px (tablets e celulares) */
@media (max-width: 767.98px) {
    .display-4-mobile-friendly {
        /* Reduz o tamanho da fonte do display-4 em 40% em telas pequenas */
        font-size: 2.1rem;
        /* O padrão do display-4 é 3.5rem */
        font-weight: 300;
        line-height: 1.2;
    }
}
/* Efeito de Transição Suave para LI e A */
.navbar-nav .nav-item {
    transition: background-color 0.3s ease;
    border-radius: 5px; 
}
.navbar-nav .nav-link {
    transition: color 0.3s ease; 
}

/* 1. ESTILO DO HOVER (Ao passar o mouse) */
.navbar-nav .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fundo branco semi-transparente no hover */
}

/* 2. ESTILO DA PÁGINA ATIVA (Quando o elemento tem a classe 'active') */
.navbar-nav .nav-item.active {
    /* Mantém o fundo semi-transparente para indicar que está ativo */
    background-color: rgba(255, 255, 255, 0.3); 
    /* Adiciona uma sombra ou borda sutil se quiser um efeito mais destacado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 3. Estilo para o link ATIVO (garante cor branca) */
.navbar-nav .nav-item.active .nav-link {
    color: white !important;
    font-weight: 600; /* Deixa o texto mais bold */
}